/* Import Google Font Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  font-family: 'Rubik', sans-serif;  
}

#header{
  color: black;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

input {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: lightgray;  
}

#input {
  text-align: center;
  margin-bottom: 20px;
  color: black;
  font-size: 1em;
}

#btn {
  text-align: center;
  margin-bottom: 20px;  
}

button {
  background-color: #FF9671;
  width: 7em;
  height: 2em;
  margin: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

/* game board table */
#board{
  margin: 0 auto;     
}

#board td {
  width: 4em;
  height: 4em;
  border: solid 5px black;
  background-color: #4E8397;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  position: relative;
  animation: fall 2s ease-in-out forwards;
}

@keyframes fall {
  100% {
    top: 0;
  }
}

/* .piece.p1 {
  background-color: red;
}

.piece.p2 {
  background-color: blue;
} */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 5px black;
}

#column-top td:hover {
  background-color: #FFC75F;
}
